extends _layout

block content
  each image, index in images
    if image.id === 1
      .topimage
        img(src="#{image.link}")

      .clear
    else
      .imgBox
        a(href="/gallery/#{image.id}")
          img(src="#{image.link}")
        p #{image.description}

//- each number, index in array
//-   if (index % 2 === 0)
//-     li (class="even")= number
//-   else
//-     li (class="odd")= number
//-   if (index % 3 === 0)
//-     br