@media (max-width: 1024px) {
  #container {
    width: 98%;
  }

  .editImg {
    width: 100%;
    margin-bottom: 1em;
  }
}

@media (max-width: 600px){
  #header {
    margin: .5em 0em .5em 0em;
  }
  #titletext {
    width: 100%;
    text-align: center;
  }
  #titletext h1 {
    font-size: 3.2rem;
  }
  #headtext {
    display: none;
  }
}