@media (max-width: 1024px) {
  #container {
    width: 98%;
  }

  .editImg {
    width: 100%;
    margin-bottom: 1em;
  }
}

@media (max-width: 600px){
  #header {
    margin-top: 1em;
    border: none;
  }
  #titletext {
    width: 100%;
    text-align: center;
  }
  #titletext h1 {
    font-size: 3.2rem;
    text-align: center;
  }
  #headtext {
    display: none;
  }
  .imgcrop {
    height: 25%;
  }
  .imgWrapper {
    width: 100%;
  }
  .imgColumn {
    display: none;
  }
  #bigassbox {
    width: 100%;
  }
}