/*body {
  background-image: url('../imgs/whitewall.png');
}
*/
p {
  color: #c7c7c7;
  font-family: 'arial';
}
.clear {
  clear: both;
}

#header {
  width: 90%;
  border-top: dotted 1px #dddddd;
  margin: 0 auto;
  margin-top: 5em;
  margin-bottom: 1em;
}

#titletext, #headtext {
  margin: 0 auto;
  display: inline-block;
}

#titletext {
  width: 50%;
}

h1 {
  text-transform: uppercase;
  color: #7b767c;
}


#headtext {
  width: 25%;
  border-left: solid 1px #dddddd;
  margin-left: 1em;
  padding: 10px;
  float: right;
}

#headtext p {
  font-family: 'arial';
}

#container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.imgcrop {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  height: 50%;
}

.topimage {
  width: 100%;
  margin-bottom: 2em;
  border-bottom: solid 1px #7b767c;
}

.topimage img {
  width: 100%;
}

.imgWrapper {
  width: 75%;
}

.singleImg {
  width: 100%;
}

.imgBox {
  width: 32%;
  float: left;
  height: 75%;
  border-bottom: solid 1px black;
  padding: 0;
  margin: 5px;
}

.imgBox a {
  z-index: 10;
}

.imgBox img, p, .editImg img {
  width: 100%;
}

.imgColumn {
  width: 20%;
}

.imgColumn .imgBox {
  width: 100%;
  height: 21em;
  border: none;
}

.editImg {
  width: 50%;
  float: left;
}

.fancy-input {
  float: left;
  margin-left: 1em;

  $background: #fff;
  $focus-color: #FF0000;
  $focus-color-valid: #3cf;
  $border-size: 2px;
  $transition-speed: .2s;
  $font-size: 1em;
  $left-padding: 1em;

  display: block;
  width: 100%;
  min-width: 200px;
  max-width: 400px;

  font-size: $font-size;
  transform: translate3d(0,0,0);
}

.fancy-input input {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  margin-top: 0;
  margin-bottom: 1em;
  padding-left: $left-padding;
  z-index: 1;

  font-size: $font-size;
  line-height: 2;
  outline: 0;
  background: none;
  border: $border-size solid rgb(150,150,150);
  transition: border-color $transition-speed;
}